.hy-n-hng {
  position: relative;
  width: auto;
  height: 1367px;
  background-color: #fef0dd;
}

.hy-n-hng .frame {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 191px;
  left: 114px;
}

.hy-n-hng .ellipse {
  position: relative;
  width: 59px;
  height: 59px;
  background-color: #66171d;
  border-radius: 29.5px;
}

.hy-n-hng .div {
  position: relative;
  align-self: stretch;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #66171d;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.hy-n-hng .overlap {
  position: absolute;
  width: 862px;
  height: 230px;
  top: 276px;
  left: 367px;
}

.hy-n-hng .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #66171d;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.hy-n-hng .frame-2 {
  position: absolute;
  width: 862px;
  height: 224px;
  top: 6px;
  left: 0;
}

.hy-n-hng .vector {
  position: absolute;
  width: 862px;
  height: 1px;
  top: 0;
  left: 0;
}

.hy-n-hng .text-wrapper-2 {
  position: absolute;
  top: 65px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #66171d;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.hy-n-hng .text-wrapper-3 {
  position: absolute;
  top: 65px;
  left: 750px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #66171d;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.hy-n-hng .frame-3 {
  display: flex;
  flex-direction: column;
  width: 175px;
  align-items: flex-end;
  gap: 24px;
  position: absolute;
  top: 114px;
  left: 689px;
}

.hy-n-hng .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #66171d;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #66171d;
  font-size: var(--body-large-font-size);
  text-align: right;
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.hy-n-hng .p {
  position: relative;
  width: 186px;
  margin-left: -11.00px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #66171d;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.hy-n-hng .img {
  position: absolute;
  width: 862px;
  height: 1px;
  top: 97px;
  left: 0;
}

.hy-n-hng .vector-2 {
  position: absolute;
  width: 862px;
  height: 1px;
  top: 48px;
  left: 0;
}

.hy-n-hng .frame-4 {
  display: flex;
  flex-direction: column;
  width: 217px;
  height: 40px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 117px;
  left: 0;
}

.hy-n-hng .div-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #66171d;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.hy-n-hng .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-bottom: -31.00px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #66171d;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.hy-n-hng .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-bottom: -79.00px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #66171d;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.hy-n-hng .frame-5 {
  display: flex;
  flex-direction: column;
  width: 142px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 362px;
  left: 114px;
}

.hy-n-hng .text-wrapper-8 {
  position: relative;
  width: 142px;
  margin-top: -1.00px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #66171d;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.hy-n-hng .vector-3 {
  position: absolute;
  width: 862px;
  height: 1px;
  top: 542px;
  left: 367px;
}

.hy-n-hng .text-wrapper-9 {
  position: absolute;
  top: 566px;
  left: 367px;
  font-family: "Proxima Nova-Bold", Helvetica;
  font-weight: 700;
  color: #66171d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.hy-n-hng .text-wrapper-10 {
  position: absolute;
  width: 141px;
  top: 567px;
  left: 1080px;
  font-family: "Proxima Nova-Bold", Helvetica;
  font-weight: 700;
  color: #66171d;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .vector-4 {
  position: absolute;
  width: 862px;
  height: 1px;
  top: 621px;
  left: 367px;
}

.hy-n-hng .text-wrapper-11 {
  position: absolute;
  width: 862px;
  top: 646px;
  left: 367px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #000000;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.hy-n-hng .frame-6 {
  display: flex;
  flex-direction: column;
  width: 856px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 691px;
  left: 367px;
}

.hy-n-hng .frame-7 {
  display: flex;
  flex-direction: column;
  width: 862px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -6.00px;
}

.hy-n-hng .a-ch-c-u-x-y-ph {
  position: relative;
  width: 656px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #66171d;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.hy-n-hng .span {
  font-weight: var(--body-large-font-weight);
  font-family: var(--body-large-font-family);
  font-style: var(--body-large-font-style);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-size: var(--body-large-font-size);
}

.hy-n-hng .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.hy-n-hng .div-wrapper {
  display: flex;
  width: 864px;
  height: 56px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 16px;
  position: absolute;
  top: 191px;
  left: 364px;
  background-color: #faf4ec;
  border-radius: 24px;
}

.hy-n-hng .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -5.00px;
  margin-bottom: -3.00px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #66171d;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  white-space: nowrap;
  font-style: var(--body-large-font-style);
}

.hy-n-hng .frame-9 {
  position: absolute;
  width: 232px;
  height: 47px;
  top: 847px;
  left: 679px;
  background-color: #66171d;
  border-radius: 24px;
  overflow: hidden;
}

.hy-n-hng .text-wrapper-13 {
  position: absolute;
  top: 10px;
  left: 57px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #ffffff;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  white-space: nowrap;
  font-style: var(--body-large-font-style);
}

.hy-n-hng .frame-10 {
  display: flex;
  width: 308px;
  height: 47px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 100px;
  position: absolute;
  top: 916px;
  left: 641px;
  background-color: #66171d;
  border-radius: 24px;
  overflow: hidden;
}

.hy-n-hng .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-left: -72.00px;
  margin-right: -72.00px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #ffffff;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  white-space: nowrap;
  font-style: var(--body-large-font-style);
}

.hy-n-hng .overlap-group {
  position: absolute;
  width: 1440px;
  height: 124px;
  top: 1px;
  left: 0;
}

.hy-n-hng .vector-5 {
  position: absolute;
  width: 174px;
  height: 38px;
  top: 0;
  left: 473px;
}

.hy-n-hng .header {
  position: absolute;
  width: 1440px;
  height: 115px;
  top: 9px;
  left: 0;
}

.hy-n-hng .frame-wrapper {
  height: 115px;
  background-color: #fef3df;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #66171d;
}

.hy-n-hng .frame-11 {
  position: relative;
  width: 1123px;
  height: 81px;
  top: 16px;
  left: 114px;
}

.hy-n-hng .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

.hy-n-hng .frame-13 {
  display: flex;
  width: 1208.51px;
  align-items: center;
  gap: 45px;
  position: relative;
}

.hy-n-hng .image {
  position: relative;
  width: 208.51px;
  height: 81px;
  aspect-ratio: 2.57;
  object-fit: cover;
}

.hy-n-hng .frame-14 {
  display: inline-flex;
  align-items: center;
  gap: 90px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -5.00px;
}

.hy-n-hng .frame-15 {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.hy-n-hng .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #66171d;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.hy-n-hng .frame-16 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.hy-n-hng .vector-6 {
  position: relative;
  width: 15px;
  height: 8px;
}

.hy-n-hng .group {
  position: relative;
  width: 131px;
  height: 24.5px;
}

.hy-n-hng .shopping-bag {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 51px;
}

.hy-n-hng .overlap-group-2 {
  position: relative;
  width: 18px;
  height: 20px;
  top: 2px;
  left: 3px;
  background-image: url(./img/vector-6.svg);
  background-size: 100% 100%;
}

.hy-n-hng .vector-7 {
  position: absolute;
  width: 18px;
  height: 1px;
  top: 4px;
  left: 0;
}

.hy-n-hng .vector-8 {
  position: absolute;
  width: 8px;
  height: 4px;
  top: 8px;
  left: 5px;
}

.hy-n-hng .user {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 107px;
}

.hy-n-hng .vector-9 {
  position: absolute;
  width: 16px;
  height: 6px;
  top: 15px;
  left: 4px;
}

.hy-n-hng .vector-10 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  left: 8px;
}

.hy-n-hng .tm-kim {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 0;
}

.hy-n-hng .overlap-2 {
  position: relative;
  height: 20px;
}

.hy-n-hng .vector-11 {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  left: 0;
}

.hy-n-hng .vector-12 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 15px;
  left: 15px;
}

.hy-n-hng .FOOTER {
  position: absolute;
  width: 1440px;
  height: 272px;
  top: 1095px;
  left: 0;
  background-color: #66171d;
}

.hy-n-hng .menu-footer {
  display: inline-flex;
  align-items: flex-start;
  gap: 123px;
  position: absolute;
  top: 59px;
  left: 865px;
}

.hy-n-hng .div-3 {
  position: relative;
  width: 83px;
  height: 154px;
}

.hy-n-hng .text-wrapper-16 {
  position: absolute;
  width: 113px;
  height: 29px;
  top: -5px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: var(--primary-2);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.hy-n-hng .ul {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 116px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 38px;
  left: 0;
}

.hy-n-hng .text-wrapper-17 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: var(--primary-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .text-wrapper-18 {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: var(--primary-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .text-wrapper-19 {
  position: relative;
  align-self: stretch;
  margin-bottom: -3.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: var(--primary-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .text-wrapper-20 {
  position: absolute;
  width: 99px;
  height: 29px;
  top: -5px;
  left: -8px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: var(--primary-2);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.hy-n-hng .ul-2 {
  display: flex;
  flex-direction: column;
  width: 83px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 38px;
  left: -8px;
}

.hy-n-hng .text-wrapper-21 {
  position: relative;
  width: 99px;
  margin-top: -1.00px;
  margin-right: -16.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--primary-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .text-wrapper-22 {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--primary-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .text-wrapper-23 {
  position: absolute;
  width: 83px;
  height: 29px;
  top: -5px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: var(--primary-2);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.hy-n-hng .ul-3 {
  display: flex;
  flex-direction: column;
  width: 83px;
  height: 116px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 38px;
  left: 0;
}

.hy-n-hng .text-wrapper-24 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--primary-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .text-wrapper-25 {
  position: relative;
  width: 100px;
  margin-right: -17.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--primary-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .text-wrapper-26 {
  position: relative;
  align-self: stretch;
  margin-bottom: -3.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--primary-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.hy-n-hng .overlap-group-3 {
  position: absolute;
  width: 399px;
  height: 181px;
  top: 41px;
  left: 71px;
}

.hy-n-hng .gachdo-gmail-com-c {
  position: absolute;
  height: 45px;
  top: 136px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: var(--primary-2);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.hy-n-hng .image-2 {
  position: absolute;
  width: 353px;
  height: 137px;
  top: 0;
  left: 3px;
  aspect-ratio: 2.57;
  object-fit: cover;
}
