:root {
  --primary-2: rgba(255, 214, 160, 1);
  --bodytext-font-family: "Montserrat", Helvetica;
  --bodytext-font-weight: 500;
  --bodytext-font-size: 10px;
  --bodytext-letter-spacing: 0px;
  --bodytext-line-height: normal;
  --bodytext-font-style: normal;
  --text-2-font-family: "Montserrat", Helvetica;
  --text-2-font-weight: 500;
  --text-2-font-size: 12px;
  --text-2-letter-spacing: 0px;
  --text-2-line-height: normal;
  --text-2-font-style: normal;
  --HEADLINE-1-font-family: "Montserrat", Helvetica;
  --HEADLINE-1-font-weight: 700;
  --HEADLINE-1-font-size: 24px;
  --HEADLINE-1-letter-spacing: 0px;
  --HEADLINE-1-line-height: 100%;
  --HEADLINE-1-font-style: normal;
  --HEADLINE-2-font-family: "Montserrat", Helvetica;
  --HEADLINE-2-font-weight: 700;
  --HEADLINE-2-font-size: 14px;
  --HEADLINE-2-letter-spacing: 0px;
  --HEADLINE-2-line-height: normal;
  --HEADLINE-2-font-style: normal;
  --text-3-font-family: "Montserrat", Helvetica;
  --text-3-font-weight: 500;
  --text-3-font-size: 16px;
  --text-3-letter-spacing: 0px;
  --text-3-line-height: normal;
  --text-3-font-style: normal;
  --text-1-font-family: "Montserrat", Helvetica;
  --text-1-font-weight: 500;
  --text-1-font-size: 32px;
  --text-1-letter-spacing: 0px;
  --text-1-line-height: normal;
  --text-1-font-style: normal;
  --variable-collection-m-u-TEXT: rgba(255, 234, 205, 1);
  --variable-collection-BACKGROUND: rgba(254, 243, 223, 1);
  --variable-collection-m-u-text2: rgba(102, 23, 29, 1);
}
